.modal{
    position: fixed;
    bottom: 1rem;
    height: 3rem;
    width: max-content;
    padding: .5rem 1rem;
    background-color:#ffffff ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  
    
    .selected-table{
        font-size: 1.2rem;
        margin: 0 1rem;
    }
    .icon{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .5rem;
    }

    .close-button{
        cursor: pointer;
        
        &:hover{
            color: #EE5C5C;
        }
    }
    .mark-button{
        background-color: #295757;
        color: #ffffff;
        align-items: center;
        display: flex;
        font-size: .7rem;
        padding: .3rem .7rem;
        border-radius: 10px;
        margin: 0 .25rem;
        cursor: pointer;

        &:hover{
            background-color: #172B4D;
        }
    }


    .delete-button{
        background-color: #EE5C5C;
        cursor: pointer;
        color: #ffffff;
        align-items: center;
        display: flex;
        font-size: .7rem;
        padding: .3rem .7rem;
        border-radius: 10px;
        margin: 0 .25rem;

        &:hover{
            background-color: #172B4D;
        }
    }

    &.hidden{
        display: none;
    }
}